{% extends 'template.html' %}

{% block titulo %}
    Django categorias
{% endblock %}

{% block conteudo %}

    <h1>Categorias</h1>
    <hr><br>
    <a href="{% url 'addcategoria' %}">Adicionar categoria</a>
    <br><br>

    {% for cat in categorias %}
        <p> 
            ID:{{cat.id}} - nome: {{cat.nome}}
            <div class="actBtn">
                <a href="{% url 'editcategoria' cat.id %}" class="edit">Editar</a>
                <a href="{% url 'delcategoria' cat.id %}" class="delete">Excluir</a>
            </div>
        </p>
    {% endfor%}
  
{% endblock %}