{% extends 'template.html' %}

{% block titulo %}
    Contato
{% endblock%}

{% block conteudo %}
    <section class="section  h-screen mx-auto">
        <div class="form-container">
            <div class="form-title">
                <h1>Entre em contato</h1>
                <!-- <a href="{% url 'categoria' %}">< Voltar</a> -->
            </div>
            <form action="{% url 'addcontato' %}" method="post" class="form">
                {% csrf_token %}
                {{form.as_p }}
                <input type="submit" value="Enviar mensagem" class="btn">
            </form>
        </div>
    </section>
{% endblock %}