{% extends 'template.html' %}

{% block titulo %}Editar Contato{% endblock %}

{% block conteudo %}
<section class="section">
    <div class="change-container">
        <div class="change-title">
            <h1>Editar Contato</h1>
            <a href="{% url 'listarcontatos' %}">< Voltar</a>
        </div>
        <form method="post" class="form">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Atualizar" class="btn">
        </form>
    </div>
</section>
{% endblock %}