{% extends 'template.html' %}

{% block titulo %}
    Nova categoria
{% endblock %}

{% block conteudo %}
    <section class="section">
        <div class="change-container">
            <div class="change-title">
                <h1>Adicionar Categoria</h1>
                <a href="{% url 'categoria' %}">< Voltar</a>
            </div>
            <form action="{% url 'addcategoria' %}" method="post" class="form">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Adicionar" class="btn">
            </form>
        </div>
    </section>
{% endblock %}